	<div>
	<p>Buscador de preguntas</p>
	<form action="/quizes" method="get" >
		<input type="search" name="search" placeholder="Busca la pregunta" id="inputSearch">
		<input type="submit" id="btnSearch">
		
	</form>
	<br>
	<a href="/quizes">Todas las preguntas</a>
	</div>
	<div id="divTabla">
	<p>Listado de preguntas: </p>
	<table>
	<% if ( quizes.length  == 0 ) { %>
		<p>No hay resultados para esa búsqueda</p>
	<% }else{ %>
	
	 <tr>
		<td><label>Pregunta</label></td>
		<td><label>Índice temático</label></td>
	</tr> 
	
		<% var i; for (i=0; i < quizes.length; i++) { %>  
     <tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><label><%= quizes[i].tema %></label></td>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
		<td>
			<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
				<button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');"> Borrar </button>
			</form>
		</td>
	</tr> 
 	<% } %>
  <% } %>
  </table>
  </div>

  <a href="/quizes/new"><button type="button">Crear preguntas</button></a>
